<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求测试</title>
    <script src="../js/jquery.min.js"></script>
</head>
<body>
<h1>测试第三方项目向保险项目请求办理业务测试</h1>
<input id="button" type="button" value="点击按钮发送请求">
<input id="bidOpen" type="button" value="同步开标信息">



<script>
    $(function () {
        $("#button").click(function () {

            $.ajax({
                url:"/tbbx/insurance",
                dataType:"json",
                type:"post",
                success:function (data) {
                    console.log(JSON.stringify(data));
                    if(data.remark=="success") {    //请求成功
                        window.open(data.redirect_url);
                    } else if(data.message=="error"){
                        alert(data.remark)
                    }
                }
            });

        });

        $("#bidOpen").click(function () {

            $.ajax({
                url:"/tbbx/bidopen",
                dataType:"json",
                type:"post",
                success:function (data) {
                    console.log(JSON.stringify(data));
                    if (data.flag == "1"){
                        alert("成功")
                    }
                }
            });

        });
    });

</script>
</body>
</html>